@model DSCMS.Models.Template

@{
  ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
  <h4>Template</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
      Layout
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Layout.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.IsForContentType)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.IsForContentType)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.FileLocation)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.FileLocation)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.FileContents)
    </dt>
    <dd>
      @(Model.FileContents == null || Model.FileContents.Trim() == "" ? "False" : "True")
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.TemplateId">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>
