@model IEnumerable<DSCMS.Models.Template>

@{
  ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        Layout
      </th>
      <th>
        File Name
      </th>
      <th>
        @Html.DisplayNameFor(model => model.FileContents)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Layout.Name)
        </td>
        <td>
          @item.FileLocation.Substring(item.FileLocation.LastIndexOf('/') + 1)
        </td>
        <td>
          @(item.FileContents == null || item.FileContents.Trim() == "" ? "False" : "True")
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.TemplateId">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.TemplateId">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.TemplateId">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
