@model DSCMS.Models.ContentType

@{
  Layout = (string)ViewData["Layout"];
}

<div class="col-sm-8 blog-main">

  <h1 style="margin-bottom: 30px;">Projects</h1>

  @foreach (var item in Model.Contents.OrderByDescending(c => c.CreationDate))
  {
    <div class="blog-post">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-weight: bold;">@item.GetValueFor("Name")</h3>
        </div>
        <div class="panel-body">
          <img src="@item.GetValueFor("Thumbnail")" style="float: right;margin-left: 6px;" />
          <div>
            @item.GetValueFor("Description")
          </div>
          <div style="clear: both;padding-top: 12px;">
            <p>Link: <a href="@item.GetValueFor("ProjectLink")">@item.GetValueFor("ProjectLink")</a></p>
            <p>Source: <a href="@item.GetValueFor("SourceLink")">@item.GetValueFor("SourceLink")</a></p>
            <p>Languages: @item.GetValueFor("Languages")</p>
            <p>Frameworks: @item.GetValueFor("Frameworks")</p>
          </div>
          <div style="float: right;">
            <a href="#">Learn More</a>
          </div>
        </div>
      </div> <!-- /.panel -->

    </div><!-- /.blog-post -->
  }

</div><!-- /.blog-main -->
