@model DSCMS.Models.ContentType

@{
  Layout = (string)ViewData["Layout"];
  int previousPageNumber = (int)ViewData["Page"] - 1;
  int nextPageNumber = (int)ViewData["Page"] + 1;
  bool olderContentExists = (bool)ViewData["OlderContentExists"];
}

<div class="col-sm-8 blog-main">

  @foreach (var item in Model.Contents.OrderByDescending(c => c.CreationDate))
  {
    <div class="blog-post">
      <h2 class="blog-post-title">@item.GetValueFor("Subject")</h2>
      <p class="blog-post-meta">@Html.DisplayFor(x => item.CreationDate) by <a href="#">@item.CreatedByUser.DisplayName</a></p>

      @*@Html.Raw(item.Body)*@
      @*@item.GetValueFor("TeaserText")*@
      @Html.Raw(item.GetValueFor("TeaserText"))

      <div style="float: right; margin-top: 35px;">
        @if (item.Body != null && item.Body.Trim() != "")
        {
          <a href="blog/@item.UrlToDisplay">Read More</a>
          @*<a asp-action="@item.UrlToDisplay" >Read More</a>*@
        }
      </div>

    </div><!-- /.blog-post -->
  }

  <nav>
    <ul class="pager">
      @if (previousPageNumber > 0)
      {
        <li><a href="/blog?page=@previousPageNumber">Newer</a></li>
      }
      @if (olderContentExists)
      {
        <li><a href="/blog?page=@nextPageNumber">Older</a></li>
      }
    </ul>
  </nav>

</div><!-- /.blog-main -->
