@model DSCMS.Models.Layout

@{
  ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
  <h4>Layout</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.FileLocation)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.FileLocation)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.FileContents)
    </dt>
    <dd>
      @(Model.FileContents == null ? "False" : (Model.FileContents.Trim() != "").ToString())
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model.LayoutId">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>
